%h1 Users
= link_to 'New user', new_user_path, class: 'btn btn-success'

%table.table.table-striped
  %tr
    %th First name
    %th Last name
    %th E-mail
    %th Projects
    %th Actions
  - @users.each do |user|
    %tr
      %td= user.first_name
      %td= user.last_name
      %td= user.email
      %td= user.projects_for_display
      %td
        = link_to 'Show', user_path(user)
        = link_to 'Edit', edit_user_path(user)

= simple_form_for @search, url: '/users/index' do |f|
  = f.input :email
  = f.input :first_name
  = f.input :last_name
  = f.submit
