%p
  %b First name:
  = @user.first_name

%p
  %b Last name:
  = @user.last_name

%p
  %b Email:
  = @user.email

%p
  %b Project:
  = @user.projects_for_display

= link_to 'Add project', new_project_path