= simple_form_for @project do |f|
  = f.input :name
  = f.input :active, as: :hidden, input_html: { value: "true" }
  = f.input :user_id, collection: User.all, include_blank: false
  = f.submit

  = link_to 'Cancel', projects_path
